.App {
  position: relative;
  text-align: center;
}

.dropbox {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 50vw;
  min-height: 30vw;
  border-radius: 1rem;
  border: .6rem solid grey;
  background-color: rgba(100,100,100,.1);
}

.results li {
  list-style: none;
}
.red {
  background-color: rgba(200,10,10,.5);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
